body, div {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
}
body {
  background: white;
}


.message-back {
  border-top: 1px solid #CCCCCC;
  background-color: #EEEEEE;
}

.message-input {
  border-radius: 7px;
  border-color: #CCCCCC;
  font-size: 16px;
  padding: 6px 5px 6px 5px;
  -webkit-appearance: none;
}

.message-send {
  text-align: center;
  line-height: 34px;
  font-weight: 600;
}

.message-bubble {
  padding: 0px 10px 10px 10px;
}

.message-bubble .back {
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  background-color: #DDDDDD;
  padding: 5px 10px 10px 5px;
}

.message-bubble .author {
  font-size: 14px;
  font-weight: bold;
}

.message-bubble .message {
  font-size: 16px;
}


/*.pull-to-refresh {
  z-index: 0;
  background-image: url(reload.gif);
  background-repeat: no-repeat no-repeat;
  -background-position: center top 20px;
  background-position: center center;
  background-size: 40px auto;
}
*/
